<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>退出登录</title>
<link href="css/login.css" rel="stylesheet" />
<link href="css/reset.css" rel="stylesheet" />
<script src="js/jquery-2.1.4.js"></script>
    <style>
        input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 1000px white inset;
            -webkit-text-fill-color: #333;
        }
    </style>
</head>

<body>
<div class="wrap clear">

    <div class="box">
    <div class="form" >
        </div>
    	<h2>退出成功！</h2>
       	
        <button class="login" style="margin-top: 140px"><a href="javascript:self.close()" >确定</a></button>
    </div>

</div>
<div class="opacity">
	<!-- <div class="tips-box">
		<p>请拨打客服电话“400-0110-999”</p>
		<span></span>
	    <button class="onOff">确定</button>
    </div> -->
</div>
<script>

</script>
</body>
</html>
