<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ooh Dear 管理系统</title>
</head>

<frameset border="0" cols="260,*">
	<frame style="background: #007ab3;" src="left.html" name="navFrame" noresize="noresize" scrolling="yes" />
    <frameset border="0" rows="30,*">
    	<frame border="0" src="/top.html" name="topFrame" noresize="noresize" scrolling="yes" />
    	<frame border="0" src="/right.html" name="showFrame" noresize="noresize" scrolling="yes" />
    </frameset>
    
    <noframes></noframes>
    </frameset>
</html>
